[Unit]
Description=Consul Template
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/local/bin/consul-template -config=/etc/consul-template.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=TERM
User=root
Group=root
TimeoutSec=5

[Install]
WantedBy=multi-user.target
